<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olcow.tsso.dao.UserPermissionMapper">
  <resultMap id="BaseResultMap" type="com.olcow.tsso.model.UserPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission" jdbcType="INTEGER" property="permission" />
    <result column="permission_desc" jdbcType="VARCHAR" property="permissionDesc" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, permission, permission_desc, create_date
  </sql>
</mapper>